.container {
  height: 100%;
  width: 100%;

  .record-error {
    margin: 16px auto 0 auto;
    background-color: #fff;
    height: 48%;
    width: 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
  }

  .table-error {
    width: 80vw;
    margin: 4vh auto 0 auto;
    th {
      text-align: left;
      background-color: #137ac4;
      color: white;
    }
    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }
        &:hover {
          background-color: #ddd;
        }
      }
      .icon-trash {
        cursor: pointer;
        margin-right: 8px;
        color: red;
      }
    }

    td,
    th {
      border: 1px solid #ddd;
      padding: 4px;
      &:nth-child(1) {
        width: 395px;
      }
      &:nth-child(2) {
        width: 395px;
      }
      &:nth-child(3) {
        width: 395px;
      }
    }
  }
  .button-update {
    margin: 0 auto 0 auto;
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    button {
      margin-top: 16px;
      margin-bottom: 8vh;
      color: #fff;
      width: 100px;
      height: 36px;
      background-color: #6286b1;
    }
  }
}
