.overlay {
  height: 100vh;
  width: 100vw;
  z-index: 4;
  background-color: rgba(165, 165, 165, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  .modal {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 175, 94);
    width: 400px;
    height: 250px;
    margin: auto;
    input {
      font-size: 16px;
      padding: 4px;
      margin: 16px;
      outline: none;
    }
    button {
      background-color: #ccc;
      margin: 16px;
      height: 38px;
    }
  }
}
