div {
  .fix {
    font-size: 24px;
    background-color: red;
  }
  button {
    background-color: aquamarine;
    margin-left: 12px;
  }
}

.over {
  width: 150px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  .item {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: red;
    margin: 4px;
    &:nth-child(1) {
      background-color: orange;
      top: 16px;
    }
  }
}
