.bar {
  height: 100px;
  width: 200px;
  overflow: hidden;

  .outer {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;

    .inner {
      margin: auto;
      text-align: center;
      font-size: 18px;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      background-color: #fff;
      span {
        position: relative;
        top: 40px;
      }
    }
  }
}
